* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* -----------------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cdebea;
    text-rendering: optimizeLegibility;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 50rem;
    padding: 4rem;
    color: #191a3c;
    background-color: #fff;
    border-radius: 3rem;
    position: relative;
    transition: all .3s linear;
}
.container::before{
    content: '';
    position: absolute;
    background-color: #b6d2e3;
    top: -4rem;
    left: -4rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 3rem;
    box-shadow: 0 7px 50px #b6d2e3;
}
.title-box >h1 {
    font-size: 2.4rem;
}
.title-box >p{
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: .03rem;
}
.product-box{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
img{
    width: 8rem;
}
.info-box >h5{
    font-size: 1.3rem;
}
.info-box>p{
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #83bd46;
    color: #fff;
    width: fit-content;
    padding: .3rem 1.1rem;
    border-radius: 2rem;
}
.info-box>.amount-box{
    margin-top: 2rem;
    display: flex;
    gap: .3rem;
}
.info-box>.amount-box >div{
    width: 2.5rem;
    border-radius: .3rem;
    aspect-ratio: 1;
    background-color: #e0f2f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #191a3cee;
    cursor: pointer;
}
.amount{
    width: 2.5rem;
    border: 1px solid #d1d1d1;
    outline: none;
    border-radius: .3rem;
    text-align: center;
    color: #191a3c;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
hr{
    border: none;
    border-top: 1px solid #e9e9e9;
}
.cost-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cost-box >div{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}
.cost-box>div:nth-of-type(1)>p:nth-of-type(2){
    font-weight: bold;
}
.cost-box>div:nth-of-type(2)>p:nth-of-type(2){
    font-weight: bold;
}
.cost-box>div:nth-of-type(3)>p{
    font-weight: bold;
}
.cost-box>p{
    color: #5381f8;
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
}
.applied{
    position: absolute;
    background-color: #191a3c;
    border-radius: 5px 0 0 5px;
    color: #fff;
    padding: .5rem 1rem;
    bottom: 9.6rem;
    right: 0;
    opacity: 0;
    transition: all .3s linear;
}
.Checkout-btn{
    position: relative;
    margin-top: .5rem;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5381f8;
    border: none;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .25s linear;
}
.Checkout-btn:hover{
    background-color: #fff;
    color: #191a3c;
    box-shadow: inset 0 0 0 1px #191a3c,
             inset 10px 0 0 6px #191a3c;
}
.promo-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5rem;
    background-color: #191a3c;
    border-radius: 1rem;
    color: #fff;
    opacity: 0;
    display: none;
    transition: all .3s linear;
}
.promo-box>h5{
    font-size: 1.6rem;
}
#promo{
    width: 10rem;
    outline: none;
    border: none;
    padding: .4rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
}
.send-promo{
    border: none;
    outline: none;
    padding: .2rem .6rem;
    border-radius: 3px;
    margin-top: .3rem;
    color: #191a3c;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: bold;
}