* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#carouselExampleDark {
  height: 400px;
}

.containerr {
  position: relative;
  background-image: url(../carousel-1.jpg);
  width: 100%;
  height: 400px;
  background-size: 100% 150%;
  /* color: white; */
  /* background-size: cover; */
}

/* -------------------------------------------  */

.container-8 {
  height: 600px;
  /* background-color: wheat; */
}

.Master {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 10px;
}

.Master h4 {
  margin-top: 50px;
  color: green;
}

.picture {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 100px;
}

.img-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 400px;
  width: 245px;
  /* border-radius: 12px; */
  /* justify-content: center; */
  align-items: center;

  /* border: 0.5px solid gray; */
}

.img-1 p {
  color: gray;
}

.picture img {
  width: 245px;
  /* border-radius: 12px; */
  /* border-bottom-radius: none; */
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}


/* ----------------------------------------  */
/* ------------------------------------------------ */

.footer-section {
          background-color: whitesmoke;
          /* margin-top: 70px; */
          display: flex;
          flex-direction: row;
          gap: 80px;
          padding: 60px;
          height: 350px;
        
          /* padding-top: 60px; */
        }
        
        .footer-first img {
          height: 20px;
          width: 20px;
          border-radius: 50%;
        }
        
        .footer {
          color: orange;
        }
        
        .footer-first .footer-icon img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        
        .other-info {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        
        .footer-first {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 300px;
          /* border: 1px solid red; */
          margin-left: 30px;
        }
        
        .footer-second {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 300px;
          /* border: 1px solid red; */
        }
        
        .footer-third {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 350px;
          /* border: 1px solid red; */
          margin-right: 50px;
        }
        
        .footer-third .footer-input {
          display: flex;
          gap: 5px;
        }
        
        .footer-third .footer-input input {
          width: 250px;
          height: 40px;
          border-radius: 5px;
          padding-left: 7px;
          border: 0.3px solid orange;
        }
        
        .footer-third .footer-input a button {
          height: 40px;
          width: 90px;
          background-color: orange;
          color: white;
          border-radius: 5px;
          border: none;
        }
        
        .footer-map {
          display: flex;
          flex-direction: row;
          gap: 15px;
        }
        
        .footer-call {
          display: flex;
          flex-direction: row;
          gap: 15px;
        }
        
        .footer-mail {
          display: flex;
          flex-direction: row;
          gap: 15px;
        }
        
        .footer-icon {
          display: flex;
          flex-direction: row;
          gap: 15px;
        }
        
        .terms {
          display: flex;
          flex-direction: row;
          gap: 15px;
        }
        
        /* --------------------------------------------------- */
        .last-cls {
          height: 60px;
          background-color: #fff;
        }
        
        .lastest {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
        }
        
        .lastest span {
          color: orange;
        }
        
        .fa-angle-right {
          color: orange;
        }
        